<div class="error-box">
  <div class="error-body text-center">
    <h1 class="error-title">403</h1>
    <h3 class="text-uppercase error-subtitle">¡Error de permisos!</h3>
    <p class="text-muted m-t-30 m-b-30">No tienes permiso para acceder a esta página</p>
    <a href="index.php" class="btn btn-info waves-effect waves-light m-b-40">Vuelve al inicio</a>
  </div>
</div>
