.card {
  border: 0px !important;
  padding: 10px;
}
.card>div {
  border: 1px solid rgba(0,0,0,.1);
}
#main-content{
  height: calc(100% - 50px);
}
.aqua-color{
  background-color:#1b4673
}
span.dtr-data {
  word-wrap: break-word;
  white-space: normal !important;
}
.notas {
  border: 1px solid rgba(0,0,0,.1);
  margin-top: 5px;
  border-radius: 3px;
  padding: 5px;
}
input[type="file"]::-webkit-file-upload-button {
  background: #485dc5;
  color: #FFFFFF;
  line-height: 38px;
  padding: 0px 20px;
  border: none;
  float: right;
  content: "";
}

input[type="file"] {
  margin-left: 10px;
  border: 1px solid #b5bcc7;
  width: 65%;
  vertical-align: bottom;
  margin-bottom: 10px;
  direction: rtl;
  font-size:12px;
}
.opciones{
  display:none;
}
.hideFile{
  display:none;
}
.align-buttons{
  display:grid;
}
.align-buttons>input {
  margin-top: 5px;
}
body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
}
#main{
  flex-grow: 1;
}

input.typeahead.form-control.tt-input{
  background-color:#fff !important;
}

@media(max-width:600px){
  .navbar-brand {
    font-size: 1rem;
  }
}
